<!--<table>
    <thead>
        <tr>
            <th attr.colspan="{{ColumnSpan}}">
                Student Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{FirstName}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{LastName}}</td>
        </tr>
        <tr *ngIf='ShowDetails'>
            <td>Branch</td>
            <td>{{Branch}}</td>
        </tr>
        <tr *ngIf='ShowDetails'>
            <td>Mobile</td>
            <td>{{Mobile}}</td>
        </tr>
        <tr *ngIf='ShowDetails'>
            <td>Gender</td>
            <td>{{Gender}}</td>
        </tr>
        <tr *ngIf='ShowDetails'>
            <td>Age</td>
            <td>{{Age}}</td>
        </tr>
    </tbody>
</table>
<br/>
<button (click)='ToggleDetails()'>
    {{ShowDetails ? 'Hide' : 'Show'}} Details
</button> -->

<!-- *********************************routeur dans angualar**************************
<h2>Angular Routing Example</h2>

<button (click)="GetStudent()">Student</button>
<button (click)="GetStudentDetails()">GetStudentDetails</button>

<div>
    <router-outlet></router-outlet>
</div>-->


<!-- 
    *****************************************routeur angulaire ***************************
    <h2>Angular Routing Example</h2>
<a [routerLink] = "['/studentLink']" >Student</a> <br/>
<a [routerLink] = "['/studentdetailsLink']" >student details</a><br/>
<a [routerLink] = "['/invalidLink']" >Invalid Link</a>
<div>
    <router-outlet></router-outlet>
</div>
-->


<!-- ********************************************* les serrvices angulaire **************-->
<h2>Angular Service Example</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Branch</th>
            <th>DOB</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let student of students'>
            <td>{{student.ID}}</td>
            <td>{{student.FirstName}}</td>
            <td>{{student.LastName}}</td>
            <td>{{student.Branch}}</td>
            <td>{{student.DOB}}</td>
            <td>{{student.Gender}}</td>
        </tr>
    </tbody>
</table>